// Place all the styles related to the userscontroller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

span {
  color: black;
}

.container {
  background-color: #212120;
  opacity: .80;
  max-width: 750px;
  margin-top: -1px;
}

.navbar {
  opacity: .6;
}


